
/* .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  } */
.action-buttons
{
    width: 120px;
    display: flex;
    justify-content: space-around;
    
   
}
.td-action
{
  width: 120px;
  display: flex;
  justify-content: space-around;
}
.th-action
{
  text-align: center;
}
.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}